body {
    font-family: Georgia, 'Times New Roman', Times, serif, arial, sans-serif;
  }
  
  h1 {
    color: #E74C3C;
    text-align: center;
	position: absolute;
	left: 60%;
  }
    
#contenedor-izquierdo {
	background-color:   #D2B4DE;
	width: 30%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
    }


.contenedor-componente {    
	position: relative;
	height: 35%;
	left: 35%;
    }

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
	
    }
.cielo {
	height: 80%;
	width: 60%;
	background: #85C1E9;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 35%;
	opacity: 0.5;

    }

.suelo {
	width: 60%;
	height: 45%;
	background: #2ECC71;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 35%;
	opacity: 0.7;

    } 